<!DOCTYPE html>
<% provide(:title, "Home") %>
<div class = "center jumbotron">
	<h1>Welcome to the Sample App!</h1>
	<h2>
		This is Andrews sample app page
		<a href="http://www.npr.org/">NPR</a>
		sample application.
	</h2>
</div>

 

