<div class="monologue-social-sharing" data-monologue="monologue-social-sharing">
  <span class="social-tagline"><%= t('.tagline') %></span>
  <ul id="social-share">
    <li id="facebook">
      <%= render :partial => 'monologue/posts/social/facebook' %>
    </li>
  </ul>
</div>
