<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Fred Graham-Yooll 2016</p>
                </div>
            </div>
        </div>
    </footer>
<!-- <footer class = 'footer'>
	<nav>
		<ul class = "nav navbar-nav navbar-center">
			
		</ul>
	</nav>
</footer> -->