<footer class = 'footer'>
	<nav>
		<ul class = "nav navbar-nav navbar-center">
			<li><%= link_to "Blog", main_app.monologue_path %></li>
			<li><%= link_to "About", main_app.pages_about_path %></li>
			<li><%= link_to "Contact", main_app.pages_contact_path %></li>
		</ul>
	</nav>
</footer>